<div ng-app="acmApp" ng-controller="coaListCtrl">
<form ng-submit="addCoa()">
	<table style="text-align:center">
		<tr> <td> Head</td><td><input type="text" id="head" name="head" ng-model="head"/></td></tr>
		<tr> <td> Legal Entity</td><td><input type="text" id="legalEntity" name="legalEntity" ng-model="legalEntity"/></td></tr>
		<tr> <td> Country</td><td><input type="text" id="country" name="country" ng-model="country"/></td></tr>
		<tr> <td> Branch</td><td><input type="text" id="branch" name="branch" ng-model="branch"/></td></tr>
		<tr> <td> Product</td><td><input type="text" id="product" name="product" ng-model="product"/></td></tr>
		<tr> <td> Currency</td><td><input type="text" id="currency" name="currency" ng-model="currency"/></td></tr>
		<tr> <td> Book</td><td><input type="text" id="book" name="book" ng-model="book"/></td></tr>
		<tr> <td> SWIFT ID</td><td><input type="text" id="productSwiftID" name="productSwiftID" ng-model="productSwiftID"/></td></tr>
		<tr> <td> </td><td></td></tr>
		</table>
		<input type="submit" value="Add"/>
</form>
</div>