<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Supplier's Response</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
<script src="h.resources/script.js"></script>
	<link href = "h.resources/bootstrap.min.css" rel="stylesheet"> 
    <link href="h.resources/metisMenu.min.css" rel="stylesheet">
    <link href="h.resources/dataTables.bootstrap.css" rel="stylesheet">
    <link href="h.resources/dataTables.responsive.css" rel="stylesheet">
    <link href="h.resources/sb-admin-2.css" rel="stylesheet">
    <link href="h.resources/font-awesome.min.css" rel="stylesheet" type="text/css">
	
</head>
<body>
    <html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
</head>
<body ng-app="myApp">
<div>
    	 <p><b>Proposal ID:</b></p>
         <!-- <a href="HtmlPage5.html">View full proposal</a> -->    
		<br><br>				
		<div class="row" style="margin: 0 auto; width: 150%">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="font-size: 20px; font-weight: bold">
                            SUPPLIER'S RESPONSE
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" ng-controller="myController">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Product-ID</th>
											<th>Feature-ID</th>
											<th>Feature-Specification</th>
											<th>P or M</th>
											<th>A</th>
											<th>C</th>
											<th>N</th>
                                        </tr>
                                    </thead>
                                        <tr ng-repeat="i in features">                   
										<td>{{$index + 1 }}</td>
										<td>{{i.p_id}}</td>
										<td>{{i.f_id}}</td>
										<td>{{i.specification}}</td> 
										<td>{{i.priority_order}}</td>
										<td><input type="radio" name="A{{ $index + 1 }}" checked /></td>
										<td><input type="radio" name="C{{ $index + 1 }}" /></td>
										<td><input type="radio" name="N{{ $index + 1 }}" /></td>
										</tr>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
				<div data-ng-app="sampleapp" data-ng-controller="sampleController">
					<input type="button" value="Accept" ng-click="showconfirmbox()" />

					<input type="button" value="Reject" ng-click="showconfirmbox1()" />

					<input type="button" value="See later" ng-click="showconfirmbox2()" />

				</div>
                   <!-- /.panel -->
            </div>
        </div>
</div>
</body>
</html>