</div>
	<form ng-submit="callGlSearch()">
		<table>
			<tr>
				<td>ACCOUNT ENTRY NUMBER</td>
	    		<td><input type='text' id='acEntryNo' name='acEntryNo' ng-model='acEntryNo'></input></td>
	    	</tr>
	    	<tr>
				<td>TRANSACTION NUMBER</td>
	    		<td><input type='text' id='transNo' name='transNo' ng-model='transNo'></input></td>
	    	</tr><tr>
				<td>COSTUMER ACCOUNT NUMBER</td>
	    		<td><input type='text' id='custAcNo' name='custAcNo' ng-model='custAcNo'></input></td>
	    	</tr>
	    	<tr>
				<td>SWIFT ID</td>
	    		<td><input type='text' id='swiftID' name='swiftID' ng-model='swiftID'></input></td>
	    	</tr>
	    	<tr>
				<td>PAYMENT DATE</td>
	    		<td><input type='date' id='paymentDate' name='paymentDate' ng-model='paymentDate'></input></td>
	    	</tr>
	    	<tr>
				<td>INVOICE NUMBER</td>
	    		<td><input type='text' id='invoiceNo' name='invoiceNo' ng-model='invoiceNo'></input></td>
	    	</tr>
	    	<tr>
				<td>EVENT</td>
	    		<td><select type='text' id='drCr' name='drCr' ng-model='drCr'>
	    				<option value="allEvents" selected>--all events--</option>
					 	<option value="Cr">Credit (Cr)</option>
					  	<option value="Dr">Debit (Dr)</option>
					</select></td>
	    	</tr>
	    	<tr>
				<td>DUE DATE</td>
	    		<td><input type='date' id='dueDate' name='dueDate' ng-model='dueDate'></input></td>
	    	</tr>
	    </table>
	    <input type='submit' value='search'>
	</form>
</div>
<div>
	<table>	
		<tr ng-if="glList.length != 0"><th>Account Entry No.</th><th>Current Date</th><th>Payment Date</th><th>Transaction No</th><th>Customer Account No.</th><th>SWIFT ID</th><th>Invoice No.</th><th>Dr/Cr</th><th>Amount</th><th>Due Date</th></tr>
		<tr ng-repeat="glEntry in glList">
			<td>{{glEntry.accountEntryNo}}</td>
			<td>{{glEntry.currentDate}}</td>
			<td>{{glEntry.paymentDate}}</td>
			<td>{{glEntry.transactionNo}}</td>
			<td>{{glEntry.customerAccountNo}}</td>
			<td><a href="http://localhost:8181/ACMindex.html">{{glEntry.swiftID}}</a></td>
			<td>{{glEntry.invoiceNo}}</td>
			<td>{{glEntry.drOrCr}}</td>
			<td>{{glEntry.amount}}</td>
			<td>{{glEntry.dueDate}}</td>
		</tr>
	</table>
	<h1 ng-hide="glList.length">No records</h1>
</div>